

.boxPrincipal{
    height: 80vh;
    display: flex;
    justify-content: center;
}

.boxConteudo{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    h2{
        text-align: center;
        font-size: 1.8rem;

    }
}

form{
    border: solid 3px #005695;
    border-radius: 15px;
    height: 60vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content:space-around;
        color: #005695;
    }
    input{
        border: solid 2px #005695;
        height:5vh;
        width: 13VW;
        border-radius: 10px;
        outline: none;
        padding: 20px;
        &::placeholder{
            color: #000;
        }
    }
    input[type="submit"] {
        width: 80%;
        height: 40px;
        font-size: 0.9rem;
    }
}
    input:nth-child(6){
        width: 10vw;
        height: 6vh;
        padding: 0;
        background-color: #005695;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
    }

@media(max-width:1270px){
    form{
        width: 300px;

    input{
        width: 80%;
    }
    }
}
@media (max-width: 930px) {
    .boxConteudo h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 650px) {
    .boxConteudo {
        padding: 20px;
    }
    .boxConteudo h2 {
        font-size: 1.3rem;
    }
    form {
        padding: 10px;
    }
    input {
        font-size: 0.9rem;
    }
    input[type="submit"] {
        width: 100%;
        height: 40px;
        font-size: 0.9rem;
    }
}

@media (max-width: 400px) {
    form{
        div{
            margin-bottom: 10px;
        }
    }
    form div img {
        width: 40px;
    }
    form div h3 {
        font-size: 1rem;
        
    }
    input {
        width: 120px;
        margin: 4px;
    }
    input[type="submit"] {
        width: 100%;
    }
    .boxConteudo{
        h2{
            font-size: 1.0rem;
            margin-bottom: 10px;
        }
    }
}
