
footer{
    height: 20vh;
}
.boxSocial{
    background-color: #005695;
    display: flex;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    padding: 50px;
    
}

.boxInfo{
    background-color: #232020;
    color: #FFFFFFDB;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}