
.boxDoados{
    // height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        margin: 20px;
    }
    min-height: 80vh;
}

.boxCards{
    width: 85vw;
    min-height: 60vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;


    article{
        width: 270px;
        height: 340px; 
        background-color: #fff;
        border-radius: 15px;
        display: flex;
        word-wrap: break-word; 
        word-break: break-word;
        padding: 10px;
        box-shadow: 
        rgba(0, 86, 149, 0.25) 0px 50px 100px -20px, /* Sombra azul suave */
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,    /* Sombra preta mais suave */
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; /* Sombra interna */
        a{
            display: flex;
            justify-content: center;
        }
        img{
           padding-top:5px;
           width: 30%;
           cursor: pointer;
        }
        img:hover {
            transform: scale(1.2); 
            
          }
        
        h3{
            color: #005695;
            font-size: 20px;
            text-align: center;
        }
        p{
            font-size: 16px;
        }
    }
}


@media(max-width:1170px){
    .boxCards{
       height: auto;
    }
    .boxDoados{
        height: auto;
    }
    article{
        height: auto;
    }
}

@media(max-width:510px){
    .boxDoados{
        height: auto;
    }

}